.okenko {
    background-color: rgb(221, 42, 19);
    border: 1px solid black;
    width: 600px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    
    
    
    main {
        display: flex;
        justify-content:  center;
    
    }
    
    
    .odsazeni {
        display: flex;
        justify-content: center;
        margin: 16px 0;
    }
    
    .odsazeni label {
        width: 100px;
        border-radius:100px ;
    }
    
    .buttons a {
        background-color: crimson;
        right: 500px;
        padding: 5px;
        border: 1px solid black;
        width: 50%;
        margin: auto;
        text-align: center;
        margin:15px;
        border-radius:10px ;
        
    }
    .buttons{
        display: flex;
        justify-content: space-around;
        padding: 15px;
        margin: auto;
        left:10px;
        color: blue;
    }

