.Placing { 
display:flex;
justify-content:space-between;
flex-direction: row;






}



.gradient-container { 
    justify-content:flex-end;
    align-items: center;
    display: flex;
    position: relative;
    width: 100%;
    height: 300px;
    background: linear-gradient(45deg,#ff87a3,#8a70ff   )
    





}

.homepage {
    justify-content:center;
    align-items:center;
    display:flex;
    font-size:30px;
    color: #8a70ff;
    text-decoration: none;
    gap: 100px;
    padding: 100px;
    

    




}

.homepage2 {
    justify-content:center;
    align-items:center;
    display:flex;
    font-size:30px;
    color: #ee17e3;
    text-decoration: none;
    gap: 100px;
    padding: 100px;
}

.homepage3 {
    justify-content:center;
    align-items:center;
    display:flex;
    font-size:30px;
    color: #fa0505;
    text-decoration: none;
    gap: 100px;
    padding: 100px;
}

.homepage4 {
    justify-content:center;
    align-items:center;
    display:flex;
    font-size:30px;
    color: #ad335c;
    text-decoration: none;
    gap: 100px;
    padding: 100px;
}

.Imageplacing{
    position: absolute;
    top: 60px;
    left: 10px;
}

.Imageplacing img {
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
}
